element.style {
    --footer: 195px;
}
:root {
    --current: currentColor;
    --transparent: transparent;
    --black: #000000;
    --black-50: #00000080;
    --black-10: #0000001A;
    --black-8: rgba(0, 0, 0, 0.08);
    --header-background: #dddddd77;
    --white: #F8F8F8;
    --white-50: #F8F8F880;
    --white-10: #F8F8F81A;
    --red: #FA3D1D;
    --red-50: #FA3D1D80;
    --red-10: #FA3D1D1A;
    --blue: #0358F7;
    --blue-50: #0358F780;
    --blue-10: #0358F71A;
    --pink: #FD02F5;
    --pink-50: #FD02F580;
    --pink-10: #FD02F51A;
    --yellow: #FFB005;
    --yellow-50: #FFB00580;
    --yellow-10: #FFB0051A;
    --brown: #340B05;
    --brown-50: #340B0580;
    --brown-10: #340B051A;
    --grey: #D9D9D9;
    --primary: rgba(0, 0, 0, 0.85);
    --secondary: rgba(0, 0, 0, 0.60);
    --tertiary: rgba(0, 0, 0, 0.45);
    --quaternary: rgba(0, 0, 0, 0.20);
    --fill-primary: rgba(0, 0, 0, 0.9);
    --fill-secondary: rgba(0, 0, 0, 0.08);
    --fill-secondary-hover: rgba(0, 0, 0, 0.12);
    --fill-tertiary: rgba(0, 0, 0, 0.04);
    --stroke-light: rgba(0, 0, 0, 0.06);
    --stroke-medium: rgba(0, 0, 0, 0.12);
    --get-dia-button-hover: rgba(0, 0, 0, 0.90);
    --primary-50: rgba(0, 0, 0, 0.425);
    --primary-10: rgba(0, 0, 0, 0.085);
    --background: #F8F8F8;
    --creamsicle-gradient: linear-gradient(180deg, #FFF1AC 60%, #FF6F3C);
    --grapefruit-gradient: linear-gradient(180deg, #FFADA0 60%, #96D0FF);
    --cotton-candy-gradient: linear-gradient(180deg, #96D0FF 60%, #FFC1FD);
    --sunshine-gradient: linear-gradient(180deg, #5092C7 60%, #FFB005);
    --twilight-gradient: linear-gradient(180deg, #C679C4 60%, #FFADA0);
    --midnight-gradient: linear-gradient(180deg, #340B05 60%, #5092C7);
    --student-gradient: linear-gradient(180deg, #FD02F5 -10.07%, #FA3D1D 6.81%, #FFB005 35.18%, #E1E1FE 66.63%, #0358F7 95.78%, #340B05 149.46%);
    --student-marquee: linear-gradient(270deg, #FD02F5, #FA3D1D 15.94%, #FFB005 42.76%, #E1E1FE 72.48%, #0358F7 100.02%, #340B05 150.75%);
}
html {
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    background-color: var(--background);
    color: var(--primary);
}
html {
    font-size: 62.5%;
    font-family: ABC Oracle, Helvetica, "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
}
:host, html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ABC Oracle, Helvetica, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
*, :after, :before, button {
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}
*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
Show all properties (1 more)
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}
*, :after, :before, button {
    box-sizing: inherit;
}
:after, :before {
    --tw-content: "";
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}
*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
Show all properties (1 more)
}
*, :after, :before, button {
    box-sizing: inherit;
}
:after, :before {
    --tw-content: "";
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}
*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
Show all properties (1 more)
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
Show all properties (1 more)
}
<style>
--cone-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
<style>
--grad-primary-1 {
    syntax: "<color>";
    initial-value: #340b05;
    inherits: false;
}
<style>
--rotation-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
<style>
--grad-primary-3 {
    syntax: "<color>";
    initial-value: rgba(225, 225, 254, .2);
    inherits: false;
}
<style>
--grad-primary-2 {
    syntax: "<color>";
    initial-value: #0358f7;
    inherits: false;
}